# Aliases
alias pj="cd ~/Projects"
alias zshconfig="code ~/.zshrc"
alias ohmyzsh="code ~/.oh-my-zsh"
alias zshreload="source ~/.zshrc"
alias pn="pnpm"

# Load functions from ./functions/*.zsh
for _f in ${0:A:h}/functions/*.zsh(N); do
	source "$_f"
done
unset _f
